<!--
    .a { color: green; }
<!--.b { color: green; } --> <!-- --> <!--
    .c { color: green; }

<!--
.d { color: green; }
-->

    .e { color: green; }


  	<!--	.f { color: green; }-->
-->.g { color: green; }<!--
    .h { color: green; }
-->-->-->-->-->-->.i { color: green; }-->-->-->-->

<!-- .j { color: green; } -->

<!--
     .k { color: green; }
-->

    .xa <!-- { color: yellow; background: red none; }

    .xb { color: yellow -->; background: red none <!--; }

    .xc { <!-- color: yellow; --> background: red none; }

    .xd { <!-- color: yellow; background: red none -->; }

 <! -- .xe { color: yellow; background: red none; }

--> <!--       --> <!-- -- >

  .xf { color: yellow; background: red none; }

--    .xg { color: yellow; background: red none; }
--  > .xh { color: yellow; background: red none; }
>     .xi { color: yellow; background: red none; }
--
>     .xj { color: yellow; background: red none; }

