html,body,h1>a:hover{height:100.099998%;/* IE6 - normally one uses overflow-y: scroll */font:62.5% / 1.5 Arial,Helvetica,sans-serif;color:#525151;text-align:center;background-color:#fff;}
/* -------------------------- Layout ------------------------------  */
#super-wrap{border-top:1px solid #ccc;/*overflow: hidden;*/text-align:left;min-height:300px;background:#fff url(/images/2011_revision/bg-header.png) repeat-x scroll center top;something:blah blah {
		property: value;
		other-thing: other-value;
	};-moz-box-shadow:1px 3px 4px #000;-webkit-box-shadow:0 3px 4px #000;box-shadow:1px 3px 4px #000;font-family:"Courier New",Arimo,arial,sans-serif;}
.contentholder h1,.contentleft h1,.contentleftwide h1,.loginholder h1,.upgrade-checker-wrap h1,:first-child+html #gallery ul li,#utilities a:link,#utilities a:visited,a:link,a:visited{font-size:24px!important;font-weight:bold!important;}
css3{background-image:linear-gradient(top,#ffffff 28%,#f2f2f 263%);filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);background:-moz-linear-gradient(top,#ffffff 28%,#f2f2f2 63%);background:-webkit-gradient(linear, 0% 28%, 0% 100%, from(#ffffff), to(#f2f2f2));}

@media print {.loginbutton{display:none;}
}
