.hidden {
	display: none;
}

/* The recognized color gets lowercased.  The one for font-color does
not since font-color is invalid. */

.error {
	background-color: #ff0000;
	font-weight: bolder;
	font-size: 2em;
	font-color: #00FFFF;
}
